header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 150px;
    background-color: rgba(6,21,62,0.9);
}
.logo{
    height: 140px;
    width: 150px;
    border-radius: 100%;
    border-style: groove;
    border-color: #C1B6AC;
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
    float: left;
}
.mtitle{
    float: left;
    color: navajowhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
}
header nav ul{
    list-style: none;
    float: right;
    margin-right: 40px;
}
nav{
    float: right;
    margin-left: 5px;
    margin-top: 30px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 14px;
    text-decoration: none;
    line-height: 10px;
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.checkbtn{
    font-size: 36px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*
@media( max-width: 	360px){
    header{
       height: 150px;
       width: 100%;
        background-color: rgba(37, 66, 146, 0.9);
    }
    .mtitle{
font-size: 10px;
float: left;
    }
    .logo{
        height: 100px;
        width: 100px;
    }
     ul{
        display: none;
        width: 100%;
        height: 100vh;
        background-color: rgb(3, 5, 8);
        top: 145px;
        left: -100;
        text-align: center;
        transition: all.5s;
        border-radius: 10px;
    }
    nav ul li{
        display: block;
        margin: 15px 0;
        line-height: 10px;
    }
    nav ul li a {
        font-size: 15px;
    }
  a:hover{
  background: none;
  color: aliceblue;
  }
  .checkbtn{
    display: block;
}
 #check:checked ~ ul{
     display: block;
     left: 0;
 }
 }*/
  @media( max-width: 901px){
    header{
       height: 150px;
       width: 100%;
        background-color:  rgba(6,21,62,0.9);
    }
    .mtitle{
        display: block;
        font-size: 10px;
        margin-top: 10px;
        
        
            }
            .logo{
                height: 100px;
                width: 100px;
                margin-left: 5px;
                margin-top: 10px;
            }
}
 @media( max-width: 901px){
    ul{
        display: none;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 142px;
        left: -100;
        bottom: 0;
        right: 0;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        margin: 15px 0;
        line-height: 10px;
    }
    nav ul li a {
        font-size: 15px;
    }
  a:hover{
  background: none;
  color: aliceblue;
  }
  .checkbtn{
    display: block;
    line-height: 10px;
    margin-right: 20px;

}
#check:checked ~ ul{
    display: block;
    left: 0;
    position: fixed;
    opacity: 0.8;
}
 }
 .container2 {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
#aboutUs1{
    color: rgb(43, 133, 133);
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.backg{
    background-repeat:no-repeat;
    margin-top: 70px;
}
.right{
    width: 30%;
    height: auto;
     float: right;
     margin-top: 15px;
     opacity: 0.9;
}
.photo{
    width: 350px;
    height: 300px;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
}
.left{
    margin: 60px;
    width: 60%;
    height: auto;
    background-color: rgb(255, 243, 240);
    border-radius: 20px;
    padding: 10px;
    opacity: 0.9;
}
p{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-indent: 15px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(43, 133, 133);
}
.h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(43, 133, 133);
    text-indent: 10px; 
    font-size: large;
}
@media (max-width: 902px) {
    .right{
        display: none;
        width: 0%;
        height: 0;
        float: none;
        margin-top: 0px;
        opacity: 0;
    }
    .left{
        margin: 40px;
        width: 70%;
        height: auto;
        border-radius: 20px;
        padding: 10px;
        opacity: 0.9;
    }
    .h4{
        display:block;
        font-size: medium;
    }
       }